:root {
  --page-bg-color: #f9f9fd;
  --primary-text-color: #212121;
  --card-set-gap: 20px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

body {
  background-color: var(--page-bg-color);
  color: var(--primary-text-color);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* PAGE */
.page-title {
  font-size: 32px;
  margin-bottom: 30px;
}

/* CONTAINER */
.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}

/* CARD SET */
.card-set {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

/* CARD */
.card {
  box-shadow: var(--card-shadow);
  border-radius: 4px;
  overflow: hidden;
}

.card-content {
  padding: 15px;
}

.card-text {
  margin-top: 10px;
}
